.container {
    display: flex;
}

.sidebar-menu {
    width: 20%;
    height: 100vh;
    margin-top: 0%;
    transition: width 0.5s;
}

.vertical-line {
    width: 2px;
    background-color: #ddd; 
    height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 20px; 
}

.logo-second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center; /* Center items vertically */
    font-family: Lato;
    font-size: 20px;
    transition: background-color 0.5s;
    margin-left: 15%;
}

.items img {
    margin-right: 10%; 
}
