.background{
    background-image: url("../../assets/background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content{
    background-color: #2e359c6e;
    width: 60%;
    height: 100vh;
    margin-left: 40%;
    margin-right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}

/*logo setting*/
.logo {
    align-items: center;
    justify-content: center;
    display: flex;
}

.login-text{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 36px;
    font-weight: 700;
    margin-top: 5%;
    color: white;
    font-family: Quicksand;
}

.input{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    font-size: 22px;
    height: 60px;
    font-family: Quicksand;
    border-radius: 5px;
    margin-top: 2%;
    border-color: white;
    margin-left: calc(50% - 25%);
}

.login-button{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30%;
    height: 8%;
    font-size: 32px;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
    color: white;
    font-family: Quicksand;
    background-color: #FC8955;
    margin-left: calc(50% - 15%);
}

.forgot-password{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    margin-top: 5%;
    color: white;
    border-color: white;
    font-family: Quicksand;
    text-decoration: underline;
}