:root{

  --theme-color: #3D47CD6E;
  --buttons-color: #FC8955;
  --cards-color: #3D47CDB8;
}


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'sans-serif';
}

a {
  text-decoration: none;
}